[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shodan = "*"
python-whois = "*"
bs4 = "*"
netaddr = "*"
cymon = "*"
tweepy = "*"
ipwhois = "*"
IPy = "*"
dnspython = "*"
censys = "*"
PyPDF2 = "*"
dnslib = "*"
validators = "*"
lxml = "*"
selenium = "*"
multiprocess = "*"
boto3 = "*"
neo4j-driver = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
